#map {
    height: 10%;
    position: fixed;
    left: 50%;
    margin-left:20%;
    min-width: 100%;
    min-height: 50%;
    width: auto;
    transform: translate(-30%, -40%);
  }
  
  /* Optional: Makes the sample page fill the window. */
  html,
  body {
    height: 100%;
    margin: 0;
    padding: 0;
  }